# This file is readed by the installer line by line, like you would run `pip install <LINE>`

albumentations
black
flake8
matplotlib
numpy
pandas
opencv-python
pillow
pydicom
scipy
seaborn
scikit-image
scikit-learn
statsmodels

# Example of direct installation from git
git+https://github.com/tqdm/tqdm.git

# Example of installation from an alternative index
 torch --trusted-host https://download.pytorch.org --index-url https://download.pytorch.org/whl/cu118
